<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="Public/Imagenes/icono.png">
    <title> La Pagina de Quilmes</title>
</head>
<body>
    <!--HEARDER-->
    <header>
    <div>
        <h1>QUILMES ATLETICO CLUB</h1>
        <p>Toda la informacion que tenes que saber del mundo Quilmes</p>
    </div>
</header>
<!-- NAVBAR -->
<nav class="navbar">
    <a href="https://es.wikipedia.org/wiki/Quilmes_Atl%C3%A9tico_Club">HISTORIA</a>
    <a href="https://www.google.com/search?q=fixture+quilmes+2023&oq=fixture&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIRCAEQRRg5GEMYgwEYsQMYigUyCQgCEAAYQxiKBTIPCAMQABhDGIMBGLEDGIoFMgkIBBAAGEMYigUyCQgFEAAYQxiKBTIHCAYQABiABDIJCAcQABhDGIoFMg0ICBAAGIMBGLEDGIAEMgcICRAAGIAE0gEINDU2MGowajSoAgCwAgA&sourceid=chrome&ie=UTF-8#sie=t;/m/073_tk;2;/m/0895g9;mt;fp;1;;;">FIXTURE</a>
    <a href="https://www.google.com/search?q=fixture+quilmes+2023&oq=fixture&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIRCAEQRRg5GEMYgwEYsQMYigUyCQgCEAAYQxiKBTIPCAMQABhDGIMBGLEDGIoFMgkIBBAAGEMYigUyCQgFEAAYQxiKBTIHCAYQABiABDIJCAcQABhDGIoFMg0ICBAAGIMBGLEDGIAEMgcICRAAGIAE0gEINDU2MGowajSoAgCwAgA&sourceid=chrome&ie=UTF-8#sie=t;/m/073_tk;2;/m/0895g9;st;fp;1;;;">POSICIONES</a>
    <a href="https://www.quilmesaclub.org.ar/futbol/plantel">PLANTEL</a>
    <a href="../Views/hinchada.html">FAMILIA CERVECERA</a>
    <a href="../../index.html">INICIO</a>
</nav>

<!-- FORMULARIO -->
<form>
    <fieldset>
        <legend>Formulario de Registro</legend>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="name" required>
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="lastname" required>
        <label for="fecha">Fecha de Nacimiento</label>
        <input type="date" id="fecha" name="date">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="correo" required>
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario" required>
        <label for="contraseña">Contraseña</label>
        <input type="password" id="contraseña" name="password" required>
        <input type="submit" value="Registrar">
        <input type="reset" value="borrar datos">
    </fieldset>
</form>