<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="../Imagenes/icono.png">
    <title> La Pagina de Quilmes</title>
</head>
<body class="fondo">
    <!--HEADER-->
    <header>
    <div>
        <h1>QUILMES ATLETICO CLUB</h1>
        <p>Toda la informacion que tenes que saber del mundo Quilmes</p>
    </div>
</header>
<!-- NAVBAR -->
<nav class="navbar">
    <a href="https://es.wikipedia.org/wiki/Quilmes_Atl%C3%A9tico_Club">HISTORIA</a>
    <a href="https://www.google.com/search?q=fixture+quilmes+2023&oq=fixture&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIRCAEQRRg5GEMYgwEYsQMYigUyCQgCEAAYQxiKBTIPCAMQABhDGIMBGLEDGIoFMgkIBBAAGEMYigUyCQgFEAAYQxiKBTIHCAYQABiABDIJCAcQABhDGIoFMg0ICBAAGIMBGLEDGIAEMgcICRAAGIAE0gEINDU2MGowajSoAgCwAgA&sourceid=chrome&ie=UTF-8#sie=t;/m/073_tk;2;/m/0895g9;mt;fp;1;;;">FIXTURE</a>
    <a href="../Views/tabladeposiciones.html" target="_blank">POSICIONES</a>
    <a href="https://www.quilmesaclub.org.ar/futbol/plantel">PLANTEL</a>
    <a href="../Views/formulario.html" target="_blank">REGISTRO</a>
    <a href="../../index.html">INICIO</a>
</nav>

<!-- CAROUSEL BOOTSTRAP -->

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../Imagenes/familia cervecera.jpeg" class="d-block w-100" alt="hinchada">
      </div>
      <div class="carousel-item">
        <img src="../Imagenes/familia cervecera 2.jpeg" class="d-block w-100" alt="hinchada">
      </div>
      <div class="carousel-item">
        <img src="../Imagenes/familia cervecera 3.jpeg" class="d-block w-100" alt="hinchada">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


    
    <article>
        <div class="container-md">
        <h1>La Hinchada de Quilmes</h1>
        <h5>Noelia Tappata 3/11/2023</h5>
        <img src="../Imagenes/hinchada.jpeg" alt="hinchada">
        <p>La hinchada de Quilmes es llamada “Indios Kilmes”, en conmemoración a la tribu que originalmente habitaba el Valle Calchaquí (en las provincias de Tucumán y Catamarca) y que fue reubicada en donde actualmente están las ciudades de Quilmes y Bernal. Esta etnia se enfrentó a los colonizadores españoles. Una vez vencidos, luego de la quema de sus cultivos, fueron obligados a abandonar sus tierras y realizar un éxodo hasta las llanuras rioplatenses donde se asentaron y se asimilaron al resto de la población dando fin a su cultura.<br>
        Su hinchada siempre se ha caracterizado por sus grandes movilizaciones, como las que se realizaron en las finales por el ascenso, o en la participación internacionales del club en la Copa Sudamericana de 2004, debutando en dicho certamen; y en su vuelta a la Copa Libertadores en el año 2005.<br></p>
        </div>
    </article>
    <article>
        <div class="container-md">
        <h1>DIA DEL HINCHA DE QUILMES</h1>
        <h5>Noelia Tappata 3/11/2023</h5>
        <img src="../Imagenes/papelitos 1961.jpg">
        <p>La hinchada de Quilmes, fue la primera en arrojar papelitos en un estadio de fútbol de la historia. Fue justamente en un partido contra Banfield en el Florencio Sola, en el cual Quilmes ganó 1-0 con gol de Ángel Del Moro.<br>
        Uno de los protagonistas de esta movida fue un vecino llamado Hipólito Irigoyen, quien contó: "Fui a la Cervecería Capitti a pedir etiquetas que no usasen. Me dijo que tenían disponibles 90 millones y se sorprendió cuando le pedí todas porque pensábamos utilizarlas en los distintos partidos”.<br>
        "El 19 de agosto fuimos a Banfield con el que siempre hubo una enorme rivalidad. Ellos, los del Taladro, decían que no nos iban a dejar tirar las etiquetas o que en todo caso se encargarían de quitárnoslas. Es cierto que se apoderaron de algunas, pero nosotros fuimos precavidos. Todo el mundo se encargó de llevarlas en cualquier medio disponible, e incluso sobre la tribuna visitante, con un alambre y un gancho, fuimos distribuyendo las etiquetas entre los hinchas. Cuando los de Banfield se avivaron, era tarde. Quilmes salió a la cancha y fue una nube de etiquetas que durante varios minutos cubrió el cielo del estadio banfileño. Habíamos distribuido cerca de 2.100.000 etiquetas", recordó el hincha.<br>
        De esta manera, un 19 de agosto de 1961 un grupo de hinchas cerveceros le dieron comienzo a uno de los condimentos más importantes dentro del folklore argentino y propio hoy de todos los clubes. Es por este histórico hecho que este día se celebra el día del "Hincha de Quilmes".</p>
        </div>
    </article>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
