<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="Public/Imagenes/icono.png">
    <title> La Pagina de Quilmes</title>
</head>
<body>
    <!--HEADER-->
    <header>
    <div>
        <h1>QUILMES ATLETICO CLUB</h1>
        <p>Toda la informacion que tenes que saber del mundo Quilmes</p>
    </div>
</header>
<!-- NAVBAR -->
<nav class="navbar">
    <a href="https://es.wikipedia.org/wiki/Quilmes_Atl%C3%A9tico_Club">HISTORIA</a>
    <a href="https://www.google.com/search?q=fixture+quilmes+2023&oq=fixture&gs_lcrp=EgZjaHJvbWUqCwgAEEUYJxg7GIoFMgsIABBFGCcYOxiKBTIRCAEQRRg5GEMYgwEYsQMYigUyCQgCEAAYQxiKBTIPCAMQABhDGIMBGLEDGIoFMgkIBBAAGEMYigUyCQgFEAAYQxiKBTIHCAYQABiABDIJCAcQABhDGIoFMg0ICBAAGIMBGLEDGIAEMgcICRAAGIAE0gEINDU2MGowajSoAgCwAgA&sourceid=chrome&ie=UTF-8#sie=t;/m/073_tk;2;/m/0895g9;mt;fp;1;;;">FIXTURE</a>
    <a href="https://www.quilmesaclub.org.ar/futbol/plantel">PLANTEL</a>
    <a href="../Views/formulario.html" target="_blank">REGISTRO</a>
    <a href="../Views/hinchada.html" target="_blank">FAMILIA CERVECERA</a>
    <a href="../../index.html">INICIO</a>
    </nav>
    <div class="row">
        <div class="col1">
            <h1>TEMPORADA 2023</h1>
        </div>
    </div>
    <div class="row">
        <div class="col2">
        <h1>GRUPO B</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-cols-4">
            <div class="col col3">EQUIPO</div>
            <div class="col col3">PUNTOS</div>
            <div class="col col3">PARTIDOS GANADOS</div>
            <div class="col col3">PARTIDOS EMPATADOS</div>
        </div>
        <div class="row text center">
            <div class="col col4">Independiente</div>
            <div class="col col4">68</div>
            <div class="col col4">20</div>
            <div class="col col4">8</div>
        </div>
        <div class="row text center">
            <div class="col col4">Chacarita</div>
            <div class="col col4">68</div>
            <div class="col col4">20</div>
            <div class="col col4">8</div>
        </div>
        <div class="row text center">
            <div class="col col4">Deportivo Maipu</div>
            <div class="col col4">63</div>
            <div class="col col4">19</div>
            <div class="col col4">6</div>
        </div>
        <div class="row text center">
            <div class="col col4">Quilmes</div>
            <div class="col col4">53</div>
            <div class="col col4">15</div>
            <div class="col col4">8</div>
        </div>
        <div class="row text center">
            <div class="col col4">Atletico Rafaela</div>
            <div class="col col4">53</div>
            <div class="col col4">14</div>
            <div class="col col4">11</div>
        </div>
        <div class="row text center">
            <div class="col col4">Club Mitre</div>
            <div class="col col4">52</div>
            <div class="col col4">15</div>
            <div class="col col4">7</div>
        </div>
        <div class="row text center">
            <div class="col col4">Deportivo Riestra</div>
            <div class="col col4">50</div>
            <div class="col col4">12</div>
            <div class="col col4">14</div>
        </div>
        <div class="row text center">
            <div class="col col4">Ferro</div>
            <div class="col col4">49</div>
            <div class="col col4">13</div>
            <div class="col col4">10</div>
        </div>
        <div class="row text center">
            <div class="col col5">Brown</div>
            <div class="col col5">47</div>
            <div class="col col5">11</div>
            <div class="col col5">14</div>
        </div>
        <div class="row text center">
            <div class="col col5">Gimnasia de Jujuy</div>
            <div class="col col5">44</div>
            <div class="col col5">13</div>
            <div class="col col5">5</div>
        </div>
        <div class="row text center">
            <div class="col col5">Deportivo Madryn</div>
            <div class="col col5">43</div>
            <div class="col col5">10</div>
            <div class="col col5">13</div>
        </div>
        <div class="row text center">
            <div class="col col5">Racing de Cordoba</div>
            <div class="col col5">41</div>
            <div class="col col5">10</div>
            <div class="col col5">11</div>
        </div>
        <div class="row text center">
            <div class="col col5">Chaco For Ever</div>
            <div class="col col5">40</div>
            <div class="col col5">11</div>
            <div class="col col5">7</div>
        </div>
        <div class="row text center">
            <div class="col col5">Estudiantes</div>
            <div class="col col5">36</div>
            <div class="col col5">8</div>
            <div class="col col5">12</div>
        </div>
        <div class="row text center">
            <div class="col col5">Atlanta</div>
            <div class="col col5">35</div>
            <div class="col col5">8</div>
            <div class="col col5">11</div>
        </div>
        <div class="row text center">
            <div class="col col5">Aldosivi</div>
            <div class="col col5">35</div>
            <div class="col col5">8</div>
            <div class="col col5">11</div>
        </div>
        <div class="row text center">
            <div class="col col5">Tristan Suarez</div>
            <div class="col col5">34</div>
            <div class="col col5">8</div>
            <div class="col col5">10</div>
        </div>
        <div class="row text center">
            <div class="col col5">Villa Dalmine</div>
            <div class="col col5">20</div>
            <div class="col col5">5</div>
            <div class="col col5">5</div>
        </div>
    </div>
    <div class="row">
        <div class="col1">
            <h3>EQUIPOS EN VERDE:JUEGAN EL REDUCIDO</h3>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>